# Android/IntelliJ
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
*.apk
*.ap_
*.log
output.json
*.env
**/google-services.json
# Kotlin
*.class
*.jar
*.war
*.ear

# OS-specific
Thumbs.db
ehthumbs.db
Desktop.ini